<div class="w-full min-h-screen flex flex-col">
  <header>
    <nav class="navbar">
      <h1>{{ title }}</h1>
      <div class="nav-links">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/profile" routerLinkActive="active">Profile</a>
        <a routerLink="/monitoring-ro" routerLinkActive="active">Monitoring RO</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
      </div>
    </nav>
  </header>
  
  <main class="flex-1 w-full">
    <router-outlet></router-outlet>
  </main>
  
  <footer>
    <p>&copy; 2025 Belajar Angular</p>
  </footer>
</div>