<div class="container-responsive py-12">

    <div class="mb-12">
        <nav aria-label="Breadcrumb" class="mb-4">
            <ol class="flex items-center justify-left space-x-2 text-sm text-gray-600">
                <li><a href="/" class="hover:underline text-gray-500">Home</a></li>
                <li class="text-gray-400">/</li>
                <li><a href="#" class="hover:underline text-gray-500">Monitoring</a></li>
                <li class="text-gray-400">/</li>
                <li class="text-gray-900 font-semibold">RO</li>
            </ol>
        </nav>
    </div>

    <div class="mb-8">
        <h1 class="text-3xl font-bold text-gray-900">Monitoring Rincian Output</h1>
    </div>

    <div class="grid grid-cols-1 gap-2">
        <div class="card text-center">
            <div class="overflow-x-auto">
                <table class="min-w-full bg-white border border-gray-200 text-xs">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No</th>
                        <th class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Program</th>
                        <th class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Kegiatan</th>
                        <th class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Output</th>
                        <th class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Sub Output</th>
                        <th class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Pagu</th>
                        <th class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Realisasi</th>
                        <th class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Sisa</th>
                        <th class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Target</th>
                        <th class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Capaian</th>
                        <th class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">%</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    <tr>
                        <td class="px-2 py-2 text-xs text-gray-900">1</td>
                        <td class="px-2 py-2 text-xs text-gray-900">WA Program Dukungan Manajemen</td>
                        <td class="px-2 py-2 text-xs text-gray-900">4751 Pelaksanaan Tugas Khusus (Special Mission)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">BCE Penanganan Perkara (Perkara, Berkas Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">051 Administrasi Persidangan (Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">924.264.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">462.132.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">399.196.672</td>
                        <td class="px-2 py-2 text-xs text-gray-900">13.000,0000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">11.301,0000</td>
                        <td class="px-2 py-2 text-xs text-green-600">86,93</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-2 text-xs text-gray-900">1</td>
                        <td class="px-2 py-2 text-xs text-gray-900">WA Program Dukungan Manajemen</td>
                        <td class="px-2 py-2 text-xs text-gray-900">4751 Pelaksanaan Tugas Khusus (Special Mission)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">BCE Penanganan Perkara (Perkara, Berkas Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">051 Administrasi Persidangan (Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">924.264.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">462.132.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">399.196.672</td>
                        <td class="px-2 py-2 text-xs text-gray-900">13.000,0000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">11.301,0000</td>
                        <td class="px-2 py-2 text-xs text-green-600">86,93</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-2 text-xs text-gray-900">1</td>
                        <td class="px-2 py-2 text-xs text-gray-900">WA Program Dukungan Manajemen</td>
                        <td class="px-2 py-2 text-xs text-gray-900">4751 Pelaksanaan Tugas Khusus (Special Mission)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">BCE Penanganan Perkara (Perkara, Berkas Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">051 Administrasi Persidangan (Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">924.264.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">462.132.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">399.196.672</td>
                        <td class="px-2 py-2 text-xs text-gray-900">13.000,0000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">11.301,0000</td>
                        <td class="px-2 py-2 text-xs text-green-600">86,93</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-2 text-xs text-gray-900">1</td>
                        <td class="px-2 py-2 text-xs text-gray-900">WA Program Dukungan Manajemen</td>
                        <td class="px-2 py-2 text-xs text-gray-900">4751 Pelaksanaan Tugas Khusus (Special Mission)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">BCE Penanganan Perkara (Perkara, Berkas Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">051 Administrasi Persidangan (Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">924.264.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">462.132.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">399.196.672</td>
                        <td class="px-2 py-2 text-xs text-gray-900">13.000,0000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">11.301,0000</td>
                        <td class="px-2 py-2 text-xs text-green-600">86,93</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-2 text-xs text-gray-900">1</td>
                        <td class="px-2 py-2 text-xs text-gray-900">WA Program Dukungan Manajemen</td>
                        <td class="px-2 py-2 text-xs text-gray-900">4751 Pelaksanaan Tugas Khusus (Special Mission)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">BCE Penanganan Perkara (Perkara, Berkas Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">051 Administrasi Persidangan (Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">924.264.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">462.132.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">399.196.672</td>
                        <td class="px-2 py-2 text-xs text-gray-900">13.000,0000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">11.301,0000</td>
                        <td class="px-2 py-2 text-xs text-green-600">86,93</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-2 text-xs text-gray-900">1</td>
                        <td class="px-2 py-2 text-xs text-gray-900">WA Program Dukungan Manajemen</td>
                        <td class="px-2 py-2 text-xs text-gray-900">4751 Pelaksanaan Tugas Khusus (Special Mission)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">BCE Penanganan Perkara (Perkara, Berkas Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">051 Administrasi Persidangan (Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">924.264.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">462.132.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">399.196.672</td>
                        <td class="px-2 py-2 text-xs text-gray-900">13.000,0000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">11.301,0000</td>
                        <td class="px-2 py-2 text-xs text-green-600">86,93</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-2 text-xs text-gray-900">1</td>
                        <td class="px-2 py-2 text-xs text-gray-900">WA Program Dukungan Manajemen</td>
                        <td class="px-2 py-2 text-xs text-gray-900">4751 Pelaksanaan Tugas Khusus (Special Mission)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">BCE Penanganan Perkara (Perkara, Berkas Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">051 Administrasi Persidangan (Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">924.264.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">462.132.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">399.196.672</td>
                        <td class="px-2 py-2 text-xs text-gray-900">13.000,0000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">11.301,0000</td>
                        <td class="px-2 py-2 text-xs text-green-600">86,93</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-2 text-xs text-gray-900">1</td>
                        <td class="px-2 py-2 text-xs text-gray-900">WA Program Dukungan Manajemen</td>
                        <td class="px-2 py-2 text-xs text-gray-900">4751 Pelaksanaan Tugas Khusus (Special Mission)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">BCE Penanganan Perkara (Perkara, Berkas Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">051 Administrasi Persidangan (Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">924.264.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">462.132.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">399.196.672</td>
                        <td class="px-2 py-2 text-xs text-gray-900">13.000,0000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">11.301,0000</td>
                        <td class="px-2 py-2 text-xs text-green-600">86,93</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-2 text-xs text-gray-900">1</td>
                        <td class="px-2 py-2 text-xs text-gray-900">WA Program Dukungan Manajemen</td>
                        <td class="px-2 py-2 text-xs text-gray-900">4751 Pelaksanaan Tugas Khusus (Special Mission)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">BCE Penanganan Perkara (Perkara, Berkas Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">051 Administrasi Persidangan (Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">924.264.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">462.132.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">399.196.672</td>
                        <td class="px-2 py-2 text-xs text-gray-900">13.000,0000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">11.301,0000</td>
                        <td class="px-2 py-2 text-xs text-green-600">86,93</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-2 text-xs text-gray-900">1</td>
                        <td class="px-2 py-2 text-xs text-gray-900">WA Program Dukungan Manajemen</td>
                        <td class="px-2 py-2 text-xs text-gray-900">4751 Pelaksanaan Tugas Khusus (Special Mission)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">BCE Penanganan Perkara (Perkara, Berkas Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">051 Administrasi Persidangan (Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">924.264.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">462.132.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">399.196.672</td>
                        <td class="px-2 py-2 text-xs text-gray-900">13.000,0000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">11.301,0000</td>
                        <td class="px-2 py-2 text-xs text-green-600">86,93</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-2 text-xs text-gray-900">1</td>
                        <td class="px-2 py-2 text-xs text-gray-900">WA Program Dukungan Manajemen</td>
                        <td class="px-2 py-2 text-xs text-gray-900">4751 Pelaksanaan Tugas Khusus (Special Mission)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">BCE Penanganan Perkara (Perkara, Berkas Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">051 Administrasi Persidangan (Perkara)</td>
                        <td class="px-2 py-2 text-xs text-gray-900">924.264.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">462.132.000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">399.196.672</td>
                        <td class="px-2 py-2 text-xs text-gray-900">13.000,0000</td>
                        <td class="px-2 py-2 text-xs text-gray-900">11.301,0000</td>
                        <td class="px-2 py-2 text-xs text-green-600">86,93</td>
                    </tr>
                </tbody>
            </table>
            </div>
         </div>  
    
    </div>

</div>
